.search-button {
  background: linear-gradient(90deg, #155cfb, #1448e7);
  padding: 0.85em;
  border-radius: 0.8em;
  transition: transform 100ms linear;
  &:hover {
    transform: scale(1.1);
    filter: brightness(0.9)
  }
}


