@use "./variables";
@use "sass:map";
@mixin sm {
  @media (max-width: map.get(variables.$breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media (max-width: map.get(variables.$breakpoints, "md")) {
    @content;
  }
}

@mixin lg {
  @media (max-width: map.get(variables.$breakpoints, "lg")) {
    @content;
  }
}

@mixin xl {
  @media (max-width: map.get(variables.$breakpoints, "xl")) {
    @content;
  }
}

@mixin breakpoint($bp: 0) {
  @media (max-width: $bp) {
    @content;
  }
}
