@use "../../styles/abstracts/variables";

.filter-option-aside {
  background-color: variables.$background-color-seccondary;
  padding: 1.5em 1.3em;
  border: 1px solid variables.$border-color-gray;
  border-radius: variables.$radius-md;
  width: 100%;
  min-height: 100vh;
  .aside_title {
    font-size: variables.$font-size-xl;
    font-weight: 600;
    color: variables.$text-color;
  }
}
