@use "@/styles/abstracts/variables";

.job_type_wrapper {
  margin-top: 3em;
  .job_type_form {
    .filter_type_name {
      color: variables.$text-color;
      font-size: variables.$font-size-base;
      font-weight: bold;
    }
    .filter_fieldset {
      display: flex;
      flex-direction: column;
      margin-top: 1em;
      gap: 0.5em;
      .job-type-option {
        display: flex;
        gap: 0.5em;
        align-items: center;
      }
      .job-type-title {
        color: variables.$color-gray-400;
      }
    }
  }
}
