@use "../../styles/abstracts/variables";

.salary-filter {
  .range_container {
    display: flex;
    flex-direction: column;
    .range_track {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 7px;
      background-color: #2374ff;
      border-radius: 4px;
      z-index: 2;
    }

    .sliders_control {
      position: relative;
      height: 40px;
    }

    .form_control {
      position: relative;
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      color: #2374ff;
    }

    input[type="range"] {
      -webkit-appearance: none;
      appearance: none;
      position: absolute;
      width: 100%;
      height: 6px;
      background-color: #e5e7eb;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: auto;
      border-radius: variables.$radius-md;
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      pointer-events: all;
      width: 18px;
      height: 18px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 0 1px #2374ff;
      cursor: pointer;
    }

    input[type="range"]::-moz-range-thumb {
      width: 18px;
      height: 18px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #2374ff;
      box-shadow: 0 0 0 1px #2374ff;
      cursor: pointer;
    }

    input[type="range"]::-webkit-slider-thumb:hover {
      background: #2374ff;
    }

    input[type="range"]::-webkit-slider-thumb:active {
      box-shadow:
        inset 0 0 3px #6a6a6a,
        0 0 9px #387bbe;
    }

    #toSlider {
      z-index: 1;
    }

    #fromSlider {
      height: 0;
      z-index: 3;
    }

    .ranges {
      position: relative;
      span {
        position: absolute;
      }
      .ranges-left {
        left: 0;
        top: 0;
      }
      .ranges-right {
        right: 0;
      }
    }
  }

  .salary__filter-topWrapper {
    padding: 0 0.5em;
    display: grid;
    gap: 1em;
    .filter__type {
      font-weight: 600;
      color: #201828;
    }
    .salary_range {
      display: flex;
      justify-content: space-between;
      align-items: center;

      gap: 1em;

      .salary_range_block {
        display: inline-block;
        text-align: center;
        width: 100%;
        border-radius: variables.$radius-md;
        padding: 0.5em;
        font-weight: 600;
        background-color: variables.$bg-color-lightblue;
        color: variables.$color-navyBlue;
      }
    }
  }
}
